* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(41, 41, 41);
  background-color: antiquewhite;
  text-align: center;
}

/* Header and Navigation bar */

header {
  display: flex;
  background-color: rgb(155, 130, 179);
  border-bottom: 2px black solid;
  box-shadow: 5px red;
  justify-content: space-around;
  text-align: justify;
  padding: 0;
  align-items: center;
}

header .logo {
  display: flex;
  padding: 0;
  align-items: center;
}
header #logo {
  transition: all 0.15s ease-in-out;
  width: 140px;
  max-width: 20vh;
}

#logo:hover {
  transform: scale(1.1);
}

header h1 {
  display: inline-block;
  font-stretch: condensed;
  padding: 0;
  height: fit-content;
}
nav {
  /* justify-content: center; */
}

/* Nav Buttons */
nav div {
  display: inline-block;
  padding: 10px;
}

#show-me {
  font-style: italic;
  -webkit-text-stroke: 0.5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.italic-text {
  color: blue;
}
#cutedoggo {
  color: rgb(92, 92, 92);
  padding: 0px;
}
.keyboard {
  border: solid black 1px;
  padding: 3px 7px;
  box-shadow: 2px 2px rgb(63, 63, 63);
  margin: 12px;
}

.grow:hover {
  transform: scale(1, 1);
  animation: 0.3s ease-in-out;
  font-size: 15px;
  width: 10px;
  text-align: center;
  color: green;
  border: solid green 2px;
}

.box {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  width: 70px;
  height: 30px;
  background-color: bisque;
  border: 2px black solid;
}

.box:hover {
  transform: scale(1.1);
  line-height: 27px;
  color: rgb(155, 30, 30);
  font-weight: 700;
  border: rgb(155, 30, 30) solid 3px;
}

.box {
  padding: 2px;
}
#sidebar {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
}

aside .sidebar-button {
  color: blue;
}
