* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(41, 41, 41);
  background-color: antiquewhite;
  text-align: center;
}

/* Header and Navigation bar */

header {
  display: flex;
  background-color: rgb(155, 130, 179);
  border-bottom: 2px black solid;
  box-shadow: 5px red;
  justify-content: space-around;
  text-align: justify;
  padding: 0;
  align-items: center;
}

header .logo-name {
  display: flex;
  padding: 0;
  align-items: center;
}
header #logo {
  transition: all 0.15s ease-in-out;
  width: 140px;
  max-width: 20vh;
}

#logo:hover {
  transform: scale(1.1);
}

#top-logo{
  display: inline-block;
  font-stretch: condensed;
  padding: 0;
  height: fit-content;
}

/* Nav Buttons */
nav div {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

body h1 {
  padding-top: 5vh;
}

.content {
  padding: 1vh 0;
  display: flex;
  justify-items: center;
flex-direction: column;
text-align: center;
text-wrap: pretty;}

#show-me {
  font-style: italic;
  -webkit-text-stroke: 0.5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.italic-text {
  display:block;
  color: blue;
}
#cutedoggo {
  color: rgb(92, 92, 92);
  padding: 0px;
}



